---
- name: "Fetch CV inventory"
  hosts: cvaas
  connection: local
  gather_facts: no
  tasks:
  # - debug: var=ansible_password
  - name: 'Collect devices facts from {{inventory_hostname}}'
    tags: [facts, phase1]
    arista.cvp.cv_facts_v3:
      facts:
        - devices
        - configlets
        - containers
    register: facts_devices

- name: Backing up CV Facts
  hosts: localhost
  connection: local
  vars:
    cv_facts_dir: "../cv_facts"
    # documentation_dir: "../documentation"
    configlets_dir: "{{ cv_facts_dir }}/configlets"
  tasks:
  - name: Create required output directories if not present
    tags: [facts]
    file:
      path: "{{ item }}"
      state: directory
      mode: 0775
    loop:
      # - "{{ documentation_dir }}"
      - "{{ cv_facts_dir }}"
      - "{{ configlets_dir }}"
    delegate_to: localhost
    run_once: true
    
  # - name: Print configlets
  #   ansible.builtin.debug: 
  #     msg: "Configlet Name: {{ item.key }} \n Configlet Key: {{ item.value }}"
  #   loop: "{{ hostvars['cvaas'].facts_devices.data.cvp_configlets | dict2items }}"
  #   loop_control:
  #     label: "{{ item.key }}"

  - name: "Writing CV device facts from {{inventory_hostname}} to file"
    tags: [facts,write_devices]
    copy:
      content: "{{ hostvars['cvaas'].facts_devices.data.cvp_devices |  to_nice_yaml( width=50, explicit_start=True, explicit_end=True) }}"
      dest: "{{ cv_facts_dir }}/cvaas_devices.yaml"
    delegate_to: localhost
  - name: "Writing CV container facts from {{inventory_hostname}} to file"
    tags: [facts,write_containers]
    copy:
      content: "{{ hostvars['cvaas'].facts_devices.data.cvp_containers |  to_nice_yaml( width=50, explicit_start=True, explicit_end=True) }}"
      dest: "{{ cv_facts_dir }}/cvaas_containers.yaml"
    delegate_to: localhost
  # - name: "Writing CV configlet facts from {{inventory_hostname}} to file"
  #   tags: [facts]
  #   copy:
  #     content: "{{ hostvars['cvaas'].facts_devices.data.cvp_configlets |  to_nice_yaml( width=50, explicit_start=True, explicit_end=True) }}"
  #     dest: "{{ cv_facts_dir }}/cvaas_configlets.yaml"
  #   delegate_to: localhost
  - name: "Writing CV Configlets to Configlets Dir"
    tags: [facts,write_configlets]
    copy:
      content: "{{ item.value}} "
      dest: "{{ configlets_dir }}/{{ item.key }}"
    loop: "{{ hostvars['cvaas'].facts_devices.data.cvp_configlets | dict2items }}"
    loop_control:
      label: "{{ item.key }}"
    delegate_to: localhost
    